#homey {
    background-image: linear-gradient( 113.3deg,  rgba(217,9,27,1) 6.9%, rgba(22,68,150,1) 75% );
}

.btech-heading {
    margin: 7rem 0 4rem 0;
    text-align: center;
    color: white;
    font-family: 'Merienda One', cursive;
}

.btech-subheading {
    margin: 0 0 4rem 0;
    text-align: center;
    color: white;
    font-family: 'Merienda One', cursive;
    position: relative;
    bottom: 10rem;
}

.iframe {
    margin-top: 0%;
    background-color: white;
}

.test {
    width: auto;
    height: 60rem;
    padding: 0;
    margin-top: 0%;
}

@media (max-width: 450px){
    .iframe {
        
        margin-top: 0%;
        position: relative;
        left: 5rem;
    }
    .test{
        width: 60%;
        height: 60rem;
    }
}
